body {
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header,
footer {
  display: flex;
  height: 40px;
  align-self: stretch;
  background-color: #1f2937;
}

header {
  justify-content: space-between;
  padding: 10px 100px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
}

.logo {
  border-radius: 50%;
  width: 40px;
}

.hero{
  display: flex;
  background-color: #1f2937;
  padding:50px 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.hero-text{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap:10px;
}
.main-text{
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
button{
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color:white;
  font-weight: 700;
}

.subtext{
  color: #e5e7eb;
  font-size: 18px;
}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width:500px;
  height: 240px;
  color:white;
}