body {
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header,
footer {
  display: flex;
  height: 40px;
  align-self: stretch;
  background-color: #1f2937;
}

header {
  justify-content: space-between;
  padding: 10px 10vw;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

img {
  border-radius: 50%;
}
